<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCX8yGaOhgcBPBvnwSK2uboiCkB9Vh3oOo</string>
	<key>GCM_SENDER_ID</key>
	<string>950269384042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmettarik.Blogify</string>
	<key>PROJECT_ID</key>
	<string>blogify-aacec</string>
	<key>STORAGE_BUCKET</key>
	<string>blogify-aacec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950269384042:ios:46e7719169b8173b5dc113</string>
</dict>
</plist>